{%- assign authors = include.authors | default: page.author -%}
{%- assign attributes = include.attributes -%}

{%- assign output = '' | split: ',' -%}
  
{%- if authors -%} 
  {%- for author in authors -%}
    {% capture capture %}
      {% if author.url %}
        <a href="{{ author.url }}" rel="author">{{ author.name }}</a> 
      {% elsif author.email %}
        <a href="{{ author.email | prepend: 'mailto:' }}" rel="author">{{ author.name }}</a> 
      {% else %}
        {{ author.name }}
      {% endif %}
      {% if author.email %} <a href="{{ author.email | prepend: 'mailto:' }}" title="Send {{ author.name }} an email">💌 </a>{% endif %}
      {% if author.url %} <a href="{{ author.url }}" title="Visit {{ author.name }}'s website">🌐</a>{% endif %}
    
    {% endcapture %}
    {%- assign output = output | push: capture -%}
  {%- endfor -%}
<address class="is-inline"{{ attributes | prepend: ' '}}>By {{ output | array_to_sentence_string }}</address>
{%- endif -%}