<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ base.url | prepend: site.url }}">
      <img src="{{ base.url | prepend: site.url }}/assets/img/web-logo-circle-color-shape.svg">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mainNav" class="navbar-menu">
    <div class="navbar-start">
      {%- include nav-items.html items=site.data.nav.start -%}
    </div>

    <div class="navbar-end">
      {%- include nav-items.html items=site.data.nav.end -%}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="mailto:{{ site.email }}">
          Contact Us
        </a>
    
        <div class="navbar-dropdown is-right">
          <a class="navbar-item has-text-pink" href="mailto:{{ site.email }}">
            💌 {{ site.email }}
          </a>
          <a class="navbar-item">
            📆 Schedule Meeting
          </a>
          <a class="navbar-item" href="tel:7732703739">
            📞 773-270-3739
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
