<form
    action="https://buttondown.email/api/emails/embed-subscribe/people-medicine"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/people-medicine', 'popupwindow')"
    class="embeddable-buttondown-form"
>
    <label class="label" for="bd-email">{{ include.label | default: "Newsletter:" }}</label>
    <div class="field is-grouped is-flex-wrap-wrap">
    <p class="control is-expanded">
        <input type="email" name="email" id="bd-email" class="input" placeholder="Your email please"/>
    </p>
    <p class="control">
        <input class="button is-primary" type="submit" value="Subscribe" />
    </p>
    </div>
    <input type="hidden" value="1" name="embed" />
    <input type="hidden" name="tag" value="website{%- if include.tags -%},{{ include.tags }}{%- endif -%}" />
</form>