{%- case include.link.type -%}
    {%- when 'gdoc' -%}
    https://docs.google.com/document/d/[ID]/edit
    {%- when 'gdoc_preview' -%}
    https://docs.google.com/document/d/[ID]/preview
    {%- when 'gdoc_template' -%}
    https://docs.google.com/document/d/[ID]/template/preview 
    {%- when 'gdoc_copy' -%}
    https://docs.google.com/document/d/[ID]/copy
    {%- when 'gdoc_pdf' -%}
    https://docs.google.com/document/d/[ID]/export?format=pdf
    {%- when 'gdoc_view' -%}
    https://drive.google.com/file/d/[ID]/view
    {%- when 'gdoc_download' -%}
    https://drive.google.com/uc?export=download&id=[ID]
    {%- else -%}
        code2
{%- endcase -%}