---
layout: default
---

<section class="section">
  <div class="container is-fullhd">
    <div class="columns">
      <div class="column is-one-quarter">
        {%- assign imgAltText = page.title | prepend: "picture of " -%}
        {%- assign imgHref = page.links[0].href | default: false -%}
        {%- include thumbnail.html class="has-drop-shadow" size="600" file=page.file href=imgHref alt=imgAltText -%}
        <hr>
        {%- if page.links -%}
        <div class="buttons">
          {%- for link in page.links -%}
          <a href="{{ link.href }}" class="button {{ link.class | join: ' ' }} }}" {%- if link.target -%}target="{{ link.target }}"{%- endif -%}>{{ link.text }}</a>
          {%- endfor -%}
        </div>
        {%- endif -%}
        {%- if page.tags -%}
        <div class="tags">
          {%- for tag in page.tags -%}
          <span class="tag is-white">{{ tag | strip }}</span>
          {%- endfor -%}
        </div>
        {%- endif -%}
        {%- include find-related.html filter="skills,patterns" header=true header_class="title is-6 mb-3"  -%}
      </div>
      <article class="column">
        <header>
          <nav class="breadcrumb has-succeeds-separator is-small mb-2" aria-label="breadcrumbs">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/r">Resources</a></li>
              <li class="is-active"></li>
            </ul>
          </nav>
          <h1 class="title">{{ page.title }}</h1>
          <h2 class="subtitle">{{ page.description }}</h2>
          <div class="byline is-size-7">
            {% include byline.html authors=page.author %}
            on <time pubdate datetime="{{ page.date | date: '%F'}}" title="{{ page.date | date: '%B %d, %Y' }}">{{ page.date | date: '%D' }}</time>
          </div>
          <hr>
        </header>
        <div class="content is-readable-width">{{ content }}</div>
        <footer>
          {%- include collections-prev-next.html -%}
        </footer>
      </article>

  </div>
</section>